body {
    background: url("/images/main_background.jpg") no-repeat ;
    background-size: cover;
    
}
.btnperso {
    padding: 6px 7px 3px 6px;
    background-color: #DC8D2D;
    border-radius: 10px;
    transition: all 1.5s;
    color: #FFFFFF;
    font-size: 150%;
    
}

    .btnperso:hover {
        background-color: #ffffff;
        color: #DC8D2D;
        border: 1px solid #DC8D2D;
    }


h1 {
    font-size: 300%;
    color: white;
}
