body {
    background: url("/images/menupizza.jpg") no-repeat;
    background-size: cover;
    
}

li {
    color: #DC8D2D;
    list-style-type: none;
    font-size:200%;
}
span {
    color: #ffffff;
    font-size: 100%;
}

.ingrediants {
    color: #808080;
    margin-bottom: 30px;
    width: 400px;
    font-size: 150%;
}
.btnperso {
    padding: 6px 7px 3px 6px;
    background-color: #DC8D2D;
    border-radius: 10px;
    transition: all 1.5s;
    color: #FFFFFF;
    font-size: 150%;
}
    .btnperso:hover {
        background-color: #ffffff;
        color: #DC8D2D;
        border: 1px solid #DC8D2D;
    }

.img-main {
    height:100px;
    width:100px;
  

}
img {
    display:block;
    object-fit:cover;
}
h1{
    color:#ffffff;
}
h2 {
    color: #DC8D2D;
}

.vegeratienne {
    background-color: #DC8D2D;
    color: black;
    font-size: 100%;
}
.whiteperso {
    color: #FFFFFF;
    font-size:150%;
}