@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <head>
        <title>PizzaMama</title>
        <link rel="stylesheet" href="~/css/Styleaccueil.css" />
    </head>
    <body>
            <div class="text-center">
                <img src="/images/main_logo.png" />
                <a asp-page="/MenuPizzas">Voir le menu des pizzas</a>
            </div>
    </body>
</html>

