@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <head>
        <title>PizzaMama</title>
        <link rel="stylesheet" href="~/css/Styleaccueil.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    </head>
    <body class="container">
                
                <div class="row mt-5" >
                    <div class="col-12 text-center" ><h1>PIZZA-EAT</h1></div>
                </div>
                
                <div class="row mt-5"><div class="col-12 text-center"><img class="img-fluid"   src="~/images/pizza.png"/></div><div class="col-12 col-lg-6  mt-sm-5 text-center "><a asp-page="/MenuPizzas" class="text-decoration-none texte-center btnperso">Voir le menu des pizzas</a></div>
                <div class="col-12 col-lg-6 mt-sm-5 text-center "><a asp-page="/Contact" class="text-decoration-none texte-center btnperso">Nous Contactez</a></div>
                </div>

                

            <!--Script-->
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

