@page
@model Projet_pizza_mama.Pages.MenuPizzasModel
@{
}

<html>
    <head>
        <title>MenuPizzas</title>
        <link  rel =" icône " type =" image/png " sizes="16x16" href ="~/images/icons8-pizza-48.png" >
        <link rel="stylesheet" href="~/css/Stylemenu.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center"><h1>PIZZA-EAT</h1></div>

                <div class="col-12 text-center"> <h2>Les Pizzas</h2></div> 


        
            <!--Affichage des données pizzas recuperer dans la base de données-->
            <ul>
                <!--Notre listes de pizzas-->
            @foreach (var item in Model.Pizza)
            {
                <li><span>@Html.DisplayFor(modelItem => item.nom)</span>  @String.Format("{0:0.00}", item.prix) €   @if(item.vegetarienne == true)
                {
                <span class="vegeratienne">VEGETARIENNE</span>
                } 

                </li>
                <a  class="text-decoration-none mt-2 btnperso" asp-page="/Pizza" asp-route-id="@item.PizzaID">Voir plus</a>
                <li class="ingrediants">@Html.DisplayFor(modelItem => item.ingredients) </li> 

                
              
             }
             <!--Le bouton pour revenr à la page d'aceuil-->
             <br />
             <br />
                <a asp-page="/Index" class="text-decoration-none   btnperso">Revenir à l'Acceuil</a>
            </ul>
            
            </div>
        </div>
        

        <!--script-->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

