@page
@model Projet_pizza_mama.Pages.PizzaModel
@{
}
<html>
    <head>
        <title>MenuPizzas</title>
        <link rel="stylesheet" href="~/css/Stylemenu.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
        
    </head>
    <body>
        <div class="container">
           <div class="row">
                <div class="col-12 text-center"><h1>PIZZA-EAT</h1></div>

                <div class="col-12 text-center"> <h2>@Html.DisplayFor(modelItem =>Model.Pizza.nom)</h2></div>
                
                <div class="col-12 col-lg-6 align-items-center m-2" > 
                    @if(Model.Pizza.vegetarienne == true)

                {
                    <img class="img-fluid rounded" src="~/images/vegetarienne.jpg" />
                }
                @if(Model.Pizza.nom == "Poulet")
                {
                    <img class="img-fluid rounded" src="~/images/poulet.jpg" />
                }
                @if(Model.Pizza.vegetarienne != true && Model.Pizza.nom != "Poulet")
                {
                    <img class="img-fluid rounded" src="~/images/pizzaimg.jpg" />
                }

            </div>
            <div class="col-12 col-lg-3 ">
                <p class="prix">@String.Format("{0:0.00}", Model.Pizza.prix) €</p>
            </div>

            <div class="col-12 text-center">
                <p class="ingrediants">@Html.DisplayFor(modelItem =>Model.Pizza.ingredients)</p>
            </div>
            
            </div>
            <a asp-page="/MenuPizzas" class="text-decoration-none  btnperso">Revenir à la listes</a>
            
        </div>
        

        <!--script-->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>